.interview-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.interview-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Correct spelling from 'centre' */
  flex-wrap: wrap;
  padding: 0 2rem;
}

.interview-heading {
  text-align: center;
  padding: 1rem 5rem 1rem 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 0rem;
  margin-right: 3rem;
  border-right: 2px groove rgb(216, 213, 213);
  /* box-shadow: 0 2px 4px hsl(0, 0%, 43.1%); */
}

.interview-search-bar {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 5rem;
}

.interview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.interview-wrapper {
  padding: 0.5rem;
  cursor: pointer;
}

.no-interview-message {
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  color: #666;
}

@media (max-width: 768px) {
  .interview-heading {
    font-size: 1.5rem;
  }

  .interview-grid {
    gap: 0.75rem;
  }
}
